.container{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.socialNetwork{
    display: flex;
    align-items: center;
    gap: 10px;
   
    
    
}

.icon{
    cursor: pointer;
}